<a href="https://colab.research.google.com/github/JoolsCohen/Basic_algorithms-PY/blob/master/task42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 42:** Узнать какая максимальная households в зоне минимального значения population

In [2]:

import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [4]:
df[df.population == df['population'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0

In [5]:
df[df.population == df['population'].min()] ['households'].max()

4.0